html {
    font-size: 62.5%;
    color: #333;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #777;
    font-family : 'arial', 'sans serif';
    font-size: 1.8rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /*border: 1px solid #0f0;*/
}

header {
    height: 6rem;
    width: 100%;
    padding: 0 1.5rem;
    background-color: #a00;
    color: #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    text-shadow : .1rem .1rem .1rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 .3rem .5rem rgba(0,0,0,0.7);

}

main {
    /*position:relative;*/
    width: 100%;
    height: inherit;
    /*border: 1px solid #f00;*/
    background-image: url('res/fundo.png');
    background-size: 10rem;
    padding: 1.5rem;
    overflow: auto;
    font-size: 1.6rem;
    text-shadow : .1rem .1rem .1rem rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    height: 4rem;
    padding: 0 1.5rem;
    background-color: #333;
    color: #aaa;
    font-style: italic;
    font-size: 1.4rem;
    text-shadow : .1rem .1rem .1rem rgba(0, 0, 0, 0.5);
    display: inline-flex;
    align-items: center;
    justify-content: right;
}

header button {
    height : 3rem;
    /*line-height : 3rem;*/
    display: flex;
    align-items: center;
}

main span {
    font-weight: bold;
    font-size: 1.8rem;
}

table {
    border-collapse: collapse;
    color: #fff;
    text-shadow: none;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    width: 70rem;
    border: .5rem solid #666;
    border-radius: 1rem;
}

tr:nth-child(odd) {
    background-color: #333;
}

tr:nth-child(even) {
    background-color: #444;
}

td {
    padding: .5rem;
    border: .1rem dotted #555;
}

a {
    text-decoration: none;
    color: #fff;
}

progress {
    position: relative;
    top: 50%;
}



.loading {
    position: relative;
    top: 50%;
    width: 28.2rem;
    height: 1.6rem;
    border-radius: .7rem;
    border: .2rem solid #aaa;
    box-shadow: .3rem .3rem .3rem rgba(0,0,0,0.5);
    background: linear-gradient(90deg ,white 50%,#000 50%) 0 0%, linear-gradient(-90deg,white 50%,#000 50%) 0 50%, linear-gradient(90deg ,white 50%,#000 50%) 0 100%;
    background-size: .9rem .4rem;
    background-repeat: repeat-x;
    animation: loop .5s infinite linear;
}

@keyframes loop {
    100% {background-position: -8px 0%,-8px 50%,-8px 100%}
}
